.description{
    width: 75%;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.Information{
    width: 75%;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.Collor{
    background-color: plum;
}

/* body{
    position: relative;
    font-weight: 700;
}
body::before{
   
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url("../bck.jpg");
    background-size: cover;
    opacity: 0.2;
} */

.img{
    float: center;
}

.wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.date{
    margin: 20px 0px;
}

form{
    padding: 100px;
    box-shadow: 16px 10px 14px -2px rgba(128,128,128,0.75);
-webkit-box-shadow: 16px 10px 14px -2px rgba(128,128,128,0.75);
-moz-box-shadow: 16px 10px 14px -2px rgba(128,128,128,0.75);
background-color: #e7dfdf;
font-size: 18px;
border-radius: 20px;
}

input[type="submit"]{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    background-color: #d7fad2;
    text-align: center;
}

input[type="reset"]{
    padding: 6px 11px;
    border-radius: 5px
    border: none;
    background-color: #d7fad2;
    text-align: center;
}

.navbar {
padding: 10px;
background-color: blanchedalmond !important;
text-align: center;
text-decoration-color: black;
}

.Naming{
    float: left;
    font-size: 22px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.TwinTable{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    width: max-content;
    min-width: 100vw;
    white-space: pre;
    font-size: 20px;
    font-family: monospace;
    tab-size: 4;
    border-spacing: 0px;
    border-color: black;
    margin: 0px;
}
.tr {
    display: table-row;
    vertical-align: inherit;
    border-color: black;
}
.background{
    background-color: plum;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.headline{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}