.description{
    width: 50%;
    font-size: 18px;
}
.SecondPage{
    background-color: grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
body{
    background-color: mistyrose;

}

.wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.date{
    margin: 20px 0px;
}

form{
    padding: 100px;
    box-shadow: 16px 10px 14px -2px rgba(128,128,128,0.75);
-webkit-box-shadow: 16px 10px 14px -2px rgba(128,128,128,0.75);
-moz-box-shadow: 16px 10px 14px -2px rgba(128,128,128,0.75);
background-color: #dedede;
border-radius: 20px;
}

input[type="submit"]{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    background-color: #d7fad2;
    text-align: center;
}